@charset "UTF-8";

body {
    font-family: 'Oxanium', cursive;
    background-color: #000000;
    color: white;
}

/*Pseudo-elemento com a imagem de fundo*/
body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;/*Background na tela inteira*/
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

/*Header*/
.cabecalho {
    /*Alinhanhando ao centro os elementos do header*/
    display: flex;
    /*Pai*/
    justify-content: center;
    /*Filho*/
}

/*Main*/
.selecao-de-personagens {
    display: flex;
    /*Alinhando as seções uma ao lado da outra - figurinhas com imagem grande*/
    align-items: center;
    gap: 30px;/*Espaço entre elementos*/
    min-height: calc(100vh - 152px);/*Dist. do main com o cabeçalho - ajuste vertical*/
    justify-content: center;/*Ajuste horizontal*/
}

/*Section à esquerda*/
.selecao-de-personagens .lista-de-personagens {
    display: flex;
    /*Alinhando as firuginhas lado a lado*/
    flex-wrap: wrap;
    /*Não tem espaço na div, quebra os elementos para baixo*/
    gap: 30px;
    /*Espaço entre as figurinhas*/
    justify-content: center;
    /*Centraliza as figurinhas*/
}

.selecao-de-personagens .personagens {
    /*Estilizando onde fica o título "Selecione um personagem"*/
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    /*Espaço máximo que os elementos podem aparecer na pág*/
    gap: 25px;
    /*Separar figurinhas e o título*/
}

.selecao-de-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    /*Espço entre as letras*/
    text-transform: uppercase;
    /*Transforma texto em tudo maiúsculo*/
    border-bottom: 2px solid #47f4ff;
    /*Criando a bordinha em baixo do título*/
    width: 100%;
    /*Largura da bordinha*/
    text-align: center;
    /*Alinhar texto ao centro*/
}

.selecao-de-personagens .personagens .img {
    /*Evitar que as imagens fiquem quebradas*/
    width: 100%;
    height: 100%;
}

/*Main*/
.lista-de-personagens .personagem.selecionado {
    /*Deixando a sombra da firuginha pronta para fazer em JS*/
    box-shadow: 0px 0px 24px 5px #0271f7;
}

/*Section à direita*/
.personagem-selecionado {
    text-align: center;
    max-height: 530px;/*Altura máxima*/
}

.personagem-selecionado .personagem-grande{
    /*Tamanhos máximos do personagem grande selecionado*/
    width: 430px;
    height: 430px;
}

.personagem-selecionado .nome-personagem{
    /*Nome do personagem*/
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-family: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}