@charset "UTF-8";

/*Criando um seletor com uma tag:
h1{
    margin: 0;
    font-size: 12px;
}*/
/*Pode ser criado um seletor com uma classe tbm: 
.titulo{
    margin: 0;
    font-size: 12px;
}*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}